/* Global box-sizing to manage dimensions */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.add-room-type-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.add-room-type-modal {
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto; 
  overflow-x: hidden; 
  width: 900px; 
}

.add-room-type-modal h2 {
  margin-top: 30px;
  font-size: 30px;  
  color: #18304A;
  font-weight: 800;
}

.form-step label {
  font-size: 20px;
  font-weight: 600;
  color: #18304A;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 18px;
}

.add-room-type-modal input, textarea, select {
  width: 100%;
  padding: 12px;
  border: 2.2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  background-color: #fff;
  transition: border-color 0.3s ease; 
}


.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 7px;
  border: 2.5px solid #ccc;
  cursor: pointer;
}

.checkbox-item label {
  font-size: 18px;
  border-color: #18304A;  
  font-weight: 600;
}


.amenities-list, .facilities-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.amenity-item, .facility-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #18304A;
  border-color: #18304A;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  color: white;
  font-size: 16px;
}

input[type="checkbox"]:checked + label {
  color: #18304A;
}

.description-textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  height: 250px; 
  background-color: #fff;
  transition: border-color 0.3s ease;
  resize: vertical;
}

.required-asterisk {
  color: red;
  margin-left: 5px;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}


.add-room-type-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}


.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative; 
}

.step .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.step.completed .circle {
  background-color: #18304A !important;
}

.step {
  position: relative;
  z-index: 2; /* Higher z-index to ensure it's on top of the lines */
}

.step::after {
  z-index: 1; /* Lower z-index to ensure lines are behind the circles */
}


.step.active .circle {
  background-color: #18304A !important;
}

.step span {
  font-size: 14px;
  color: gray;
}

.step.active span {
  color: #18304A;
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 65%; 
  width: 334px; 
  height: 1px; 
  background-color: #18304A;
  z-index: -1;
}



.step.active:not(:last-child)::after {
  background-color: #18304A !important;
}

.step.completed:not(:last-child)::after {
  background-color: #18304A !important;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigation-buttons .back-btn {
  margin-right: auto;
}

.submit-btn {
  background-color:  #18304A; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}



.navigation-buttons .next-btn,
.navigation-buttons button[type="submit"],
.navigation-buttons button[type="button"]:not(.back-btn) {
  margin-left: 10px;
}


.navigation-buttons button.next-btn {
  background-color: #18304A;
  color: #fff;
}

.navigation-buttons button.back-btn {
  background-color: #fffcfc;  
  border-color: black; 
  font-weight: 600;               
}

.navigation-buttons button {
  padding: 14px 26px; 
  font-size: 18px;  
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-buttons button.cancel-btn {
  background-color: #ccc; 
  color: black;
}

.navigation-buttons button.cancel-btn:hover {
  background-color: #b3b3b3; 
}

span {
  font-size: 14px;
}

/* Default color (gray) */
.input-default {
  border: 1px solid gray !important;
}

/* Invalid input (red) */
.input-error {
  border: 1px solid red !important;
}

/* Valid input (green) */
.input-valid {
  border: 1px solid green !important;
}
